<style>
    .contact-form {
        margin-top: 15px;
    }

    .contact-form .textarea {
        min-height: 220px;
        resize: none;
    }

    .form-control {
        box-shadow: none;
        border-color: #eee;
        height: 49px;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #00b09c;
    }

    .form-control-feedback {
        line-height: 50px;
    }

    .main-btn {
        background: #00b09c;
        border-color: #00b09c;
        color: #fff;
    }

    .main-btn:hover {
        background: #00a491;
        color: #fff;
    }

    .form-control-feedback {
        line-height: 50px;
        top: 0px;
    }

    .detailsBox {
        display: none;
    }
</style>
<div class="container search-bar" ng-controller="HomeController" ng-init="init()">
    <div class="pagination-centered">
        <h1 class="text-center">מצאו את הבייביסיטר המושלם לילדכם.</h1>

        <p class="text-center"><img class="headshots" src="img/headshots.png"></p>

        <p class="text-center">
            <input dir="rtl" type="text" class="search-bar-input text-right"
                   placeholder="חפשו לפי עיר... (לדוגמא, ירושלים,חיפה....)" ng-model="searchInput"
                   ng-click="scrollWindow()">
        </p>
    </div>

    <div class="baby-cta">
        <img src="img/baby-cta.png">
    </div>

    <div class="container listing-container">
        <ul class="unstyled">
            <li ng-repeat="babysitter in babysitters | filter:searchInput" class="search-listing img-rounded row"
                ng-animate="'fading'">
                <div class="listing-left">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{babysitter.location}}&zoom=15&size=200x180&sensor=false"
                         class="img-rounded">
                </div>
                <div class="listing-middle">
                    <div class="name">
                        <p>{{ babysitter.firstName + ' ' + babysitter.lastName }}</p>
                    </div>
                    <div class="location">
                        <p>{{babysitter.location}}</p>
                    </div>
                    <div class="location">
                        <p>מחיר לשעה {{babysitter.price | number:2}}</p>
                    </div>
                    <div class="description">
                        <p>{{ babysitter.aboutMe }}</p>
                    </div>

                </div>
                <div class="listing-right">
                    <img src="{{ babysitter.image }}" style="height: 183px;width: 183px;" class="thumbnail">

                </div>
                <div style="clear: both;"></div>
                <hr>

                <div class="center-block">
                    <listing-detail-buttons></listing-detail-buttons>
                </div>


                <div class="listing-detail-container hide">
                    <div class="reviews detailsBox">
                        <h3>תגובות הלקוחות</h3>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapseExample"
                                aria-expanded="false"
                                aria-controls="collapseExample">
                            הוסף תגובה
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="newComment" name="comment"
                                           autocomplete="off"  placeholder="תגובה">
                                    <button class="btn btn-primary"
                                            ng-click="addUserComment(babysitter)">
                                        הוסף תגובה
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="review well">
                            <div style="margin-top:-10px; ">
                                <p class="title">בחורה מדהימה</p>

                                <p class="description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                                    venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non
                                    magna. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.</p>
                            </div>
                        </div>

                    </div>

                    <div class="schedule detailsBox">
                        <h3>Schedule</h3>

                        <div class="date-picker pagination-centered">
                            <i class="icon-arrow-left"></i>
                            <b>June 2013</b>
                            <i class="icon-arrow-right"></i>
                        </div>
                        <div class="timetable">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                    <th>Sunday</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>9:00am</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        9:00am
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">9:00am
                                    </td>
                                    <td>9:00am</td>
                                    <td>9:00am</td>
                                    <td>9:00am</td>
                                    <td>9:00am</td>
                                </tr>
                                <tr>
                                    <td>10:00am</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        10:00am
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">10:00am
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        10:00am
                                    </td>
                                    <td>10:00am</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        10:00am
                                    </td>
                                    <td>10:00am</td>
                                </tr>
                                <tr>
                                    <td>11:00am</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        11:00am
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">11:00am
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        11:00am
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        11:00am
                                    </td>
                                    <td>11:00am</td>
                                    <td>11:00am</td>
                                </tr>
                                <tr>
                                    <td>12:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        12:00pm
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">12:00pm
                                    </td>
                                    <td>12:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        12:00pm
                                    </td>
                                    <td>12:00pm</td>
                                    <td>12:00pm</td>
                                </tr>
                                <tr>
                                    <td>1:00pm</td>
                                    <td>1:00pm</td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">1:00pm
                                    </td>
                                    <td>1:00pm</td>
                                    <td>1:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        1:00pm
                                    </td>
                                    <td>1:00pm</td>
                                </tr>
                                <tr>
                                    <td>2:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        2:00pm
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">2:00pm
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        2:00pm
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        2:00pm
                                    </td>
                                    <td>2:00pm</td>
                                    <td>2:00pm</td>
                                </tr>
                                <tr>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        3:00pm
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        3:00pm
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">3:00pm
                                    </td>
                                    <td>3:00pm</td>
                                    <td>3:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        3:00pm
                                    </td>
                                    <td>3:00pm</td>
                                </tr>
                                <tr>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        4:00pm
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        4:00pm
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">4:00pm
                                    </td>
                                    <td>4:00pm</td>
                                    <td>4:00pm</td>
                                    <td>4:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        4:00pm
                                    </td>
                                </tr>
                                <tr>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        5:00pm
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        5:00pm
                                    </td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">5:00pm
                                    </td>
                                    <td>5:00pm</td>
                                    <td>5:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        5:00pm
                                    </td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        5:00pm
                                    </td>
                                </tr>
                                <tr>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        6:00pm
                                    </td>
                                    <td>6:00pm</td>
                                    <td class="nanny-share" data-placement="top" data-title="Request to Nanny-Share!"
                                        bs-popover="'partials/popover-nannyshare.html'" data-container="body"
                                        data-unique="1">6:00pm
                                    </td>
                                    <td>6:00pm</td>
                                    <td>6:00pm</td>
                                    <td class="available" data-placement="top" data-title="Book This Timeslot!"
                                        bs-popover="'partials/popover-book.html'" data-container="body" data-unique="1">
                                        6:00pm
                                    </td>
                                    <td>6:00pm</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="video detailsBox ">
                        <h3>Video Call</h3>

                        <div class="video-player">
                            <img src="img/videocall.jpg">
              <span>
                <textarea placeholder="Add notes here..." rows="15"></textarea>
              </span>
                        </div>
                    </div>

                    <div class="message detailsBox ">
                        <h3 class="text-right">הודעה ל {{ babysitter.firstName }}</h3>


                        <div class="row panel">
                            <form role="form" ng-submit="sendMessage(babysitter)" name="contactForm" id="contact-form"
                                  class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="message.name" name="Name"
                                                   required
                                                   autocomplete="off" id="Name" placeholder="שם">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" ng-model="message.email" required
                                                   name="email" autocomplete="off" id="email" placeholder="אימייל">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="message.subject" required
                                                   name="Subject" autocomplete="off" id="Subject" placeholder="נושא">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control textarea" ng-model="message.message" rows="3"
                                                      required
                                                      name="Message" id="Message"
                                                      placeholder="הייתי רוצה לקבוע פגישה..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" ng-disabled="contactForm.$invalid"
                                                class="btn main-btn pull-right">שלח
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
